<!DOCTYPE html>
<html lang="en" ng-app="validationApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../app/lib/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div ng-controller="validationController">
    <!-- 'novalidate' - attribute is used to disable browser's native form validation -->
    <form name="userForm" ng-submit="loginUser(user)" novalidate>
        <input class="input-form" name="userName" type="text" ng-model="user.name" placeholder="Username"
               ng-required="true"/>
        <div ng-show="userForm.userName.$touched && userForm.userName.$invalid">
            <small>Please fill the field</small>
        </div>
        <br>
        <input class="input-form" name="userEmail" type="email" ng-model="user.email" placeholder="Email"
               ng-required="true"/>
        <div ng-show="userForm.userEmail.$touched && userForm.userEmail.$invalid">
            <small>Please fill the field</small>
        </div>
        <br>
        <input type="submit" ng-disabled="userForm.$invalid" value="Log In"/>
    </form>
</div>
<div ng-view></div>
</body>
</html>
